blinker==1.4
certifi==2021.10.8
docopt==0.6.2
flatbuffers==2.0
google-pasta==0.2.0
keras==2.8.0
libclang==14.0.1
numpy==1.22.3
pandas==1.4.2
pipreqs==0.4.11
protobuf==3.20.0rc2
pyasn1==0.4.8
pyasn1-modules==0.2.7
tensorboard==2.8.0
tensorflow-macos==2.8.0
tensorflow-metal==0.4.0
termcolor==1.1.0
tf-estimator-nightly==2.8.0.dev2021122109
yarg==0.1.9